{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  DairyDelight | online portal
{% endblock title %}
{% block content %}

<!-- ***Product section starts*** -->
    <section class="bg-light py-5 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-3">{{catagory_name}}</h4>
                    <hr style="border-color: #b8bfc2;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                          <li class="breadcrumb-item active">{{catagory_name}} Products</li>
                        </ol>
                    </nav>  
                    {% include 'shop/message.html' %}
                </div>
                
                {% for item in products %}
                <div class="col-md-4 col-lg-3">
                    <div class="product-card card my-3">
                        <img src="{{item.product_image.url}}" style="width:200px;height:300px" class="product-image card-image-top" alt="products">
                        <a href="{% url 'product_details' catagory_name item.name %}">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{item.name}}</h5>
                            <p class="card-text">
                                <span class="float-start old-price"><s>Rs.{{item.original_price}}</s></span> 
                                <span class="float-end new-price">Rs.{{item.selling_price}}</span>
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
<!-- ***Product section ends*** -->
{% endblock content %}